
.menu{
    
    text-align: left;
    list-style: none;
    padding: 0;
    border: 1px solid #651818;
    background: #651818;
    width: 90%;
    max-width: 1500px;
    margin:auto;
}

.menu li {
    display: inline-block;
    text-align: left;
}
.menu li a{
    text-decoration: none;
    color:rgb(247, 244, 244);
    padding:20px;
    display:block;
}

.menu li a:hover{
    background:rgb(13, 13, 122);
} 

#im1{
    max-width: 100%;
    width: 1224px;
    height: 522px;
    flex-shrink: 0;
}
#im2{
    max-width: 100%;
    position:absolute;
    top: 400px;
    left:500px;
    flex-shrink: 0;
}
body{
    max-width: 100%;
    position: absolute;
    height: auto;
    flex-shrink: 0;
}
#im3{
    max-width: 100%;
    flex-shrink: 0;
    position: absolute;
    top: 810px;
    left: 300px;
    width: 623px;
    height: 230px;
    flex-shrink: 0;
}
.container {
    flex-shrink: 0;
    background-image: url(reca.png);width: 620px;height: 160px;
    text-align: left;top: 800px;
    background-repeat: no-repeat;
    background-position: absolute;position: absolute;left: 922px;top: 810px;
    background-size: cover;
    font-size: 17px;
    padding: 35px;
    color:white
}
.container2 {
    background:#0B0A3A;
    text-align: center;
    color: white;
    height: 50px;
    

    height: 70px;
}


.ri a{
    color: white;
    border: 3px solid #651818;
    background: #651818;
    border-radius: 6PX;
    position: absolute;
    top: 1080PX;
    left: 1250PX;
    text-align: center;
    align-items: center;
}
h1{
    align-items: center;
}
.info {
    background-image: url(recrojo.png);
    height: 250px;
    position: relative;
    top: -20px;
    
}
.info a{
    color: white;
    position: relative;
    left: 300px;
    top: 47px;
    line-height: 30px;
    font-size: 12 px;
}
.info h1{
    color: white;
    position: relative;
    left: 260px;
    font-size: 19px;
    top: 41px;
}
.container h1{
    position: relative;
    top: -40px;
}
.container h4{
    position: relative;
    top: -70px;
}
#im4{
    position: relative;
    top: -138px;
    left: 302px;
    height: 27px;
    border-radius: 100px;
}
#im5{
    position: relative;
    top:-169px;
    left: 273px;
    height: 28px;
    border-radius: 100px;
}
#im7{
    position: relative;
    top: -199px;
    left: 243px;
    height: 27px;
    border-radius: 100px;
}
.container5{
    text-align: center;
    color: white;
    position: relative;
    top: -310px;
    left: 30px;
}
.container5 h1{
    font-size: 18px;
}
.container5 h2{
    font-size: 15px;
}
.container6{
    position: relative;
    text-align: right;
    align-items: center;
    top: -474px;
    left: -296px;
    color: white;
}
.container6 h1{
    font-size: 18px;
}
.container6 h2{
    font-size: 15px;
    position: relative;

}
.container2 h1{
    position: relative;
    top: 16px;
}
#lib{
    position: relative;
    top: -500px;
    height: 70px;
    left: 1670px;
}